/* ======================================================================================= */
/* #region ==== IMPORTED FONTS (Google fonts) ============================================ */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Lexend+Tera&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

/* #endregion /*

/* ======================================================================================= */
/* #region ==== STANDARD ELEMENTS ======================================================== */
html, body  {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 100%;
}

/* #endregion /*

/* ======================================================================================= */
/* #region ==== TEXT STYLES ============================================================== */
h1 {
    font-family: "Lexend Tera", sans-serif;
    color: #e78a21;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h1 span {
    color: #ff6e64;
}

h2 {
    color: #ff6e64;
    margin-top: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h2 span {
    color: #db9f8f;
    font-size: 1.2em;
}

h3 {
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    color: #db9f8f;
    letter-spacing: 5px;
}

.normal-txt {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ffffff;
}

.txt-small {
    font-size: 0.8em;
}

.txt-normal {
    font-size: 1em;
}

.txt-large {
    font-size: 1.2em;
}

/* #endregion /*

/* ======================================================================================= */
/* #region ==== REUSABLE GENERAL PURPOSE ================================================= */

/* **** FULL SCREEN OVERLAY - TRANSPARENT **** */
.closeMe {
    display: none;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    padding-top: 150px;
    background-color: rgba(0,0,0,.5);
    text-align: center;
}

/* **** FULL SCREEN OVERLAY - BLACK **** */
.load-page {
    display: block;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding-top: 300px;
    background-color: #000000;
    text-align: center;
}

/* **** TEXT INFO  **** */
.text-info-page {
    z-index: 15;
    padding-top: 50px;
    overflow: auto;
    text-align: center;
}

.text-info-page p {
    width: 75%;
    margin: auto;
    padding: 20px 0;
    text-align: justify;
}

.justify-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.text-info-page p span {
    color: #e78a21;
}

.text-info-page h6{
    padding-top: 20px;
}

.text-info-page button {
    width: 75%;
    margin-top: 20px;
}

/* **** BUTTONS **** */
button, .button {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.2em;
    border-radius: 3px;
    border: none;
    color: #666666;
    width: 400px;
    margin: 10px 0;
}

button:hover {
    background-color: #c39853;
    color: #434343;
}

.button:hover {
    background-color: #c39853;
    color: #434343;
}

/* **** TEXT ALIGN  **** */


/* #endregion /*

/* ======================================================================================= */
/* #region ==== BACKGROUND IMAGES ======================================================== */
.bg-image-1 {
    background-image: url(../images/bg-space1-2560x1700.jpg);
}

.bg-image-full {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    min-height: 100vh;
}

/* #endregion /*

/* ======================================================================================= */
/* #region ==== CANVAS =================================================================== */
#canvas-1 {
    margin: 0;
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: transparent;
    border: none;
}

/* #endregion /*

/* ======================================================================================= */
/* #region ==== MENU ===================================================================== */
.menu {
    margin: auto;
    text-align: center;
    justify-content: center;
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 200px;
    padding: 20px 0;
}

/* **** UserName Form **** */

#userNameForm {
    width: 400px;
    display: block;
    text-align: center;
    margin: auto;
}

#userNameForm label {
    display: inline;
    margin: 
}

.form-buttons {
    width: 400px;
    margin: 10px 0;
}

.form-text-input {
    font-size: 1.2em;
    font-weight: 700;
    color: #434343;
    letter-spacing: 5px;
    text-align: center;
    background-color: #efd1a5;
    border-radius: 3px;
    border: none;
    margin-bottom: 10px;
    width: 400px;
}

/* #endregion /*

/* ======================================================================================= */
/* #region ==== IN GAME INFO BAR ========================================================= */
.game-info-bar {
    display: none;
    position: absolute;
    z-index: 5;
    background-color: rgba(0,0,0,.5);
}

.game-info-bar table {
    table-layout: auto;
    margin: auto;
    width: 100%;
}

.game-info-bar table .absorbing-column {
    width: 100%
}

.higlight-column-left {
    padding: 0 10px;
    text-align: center;
}

.text-column-left {
    text-align: right;
}

.extra-column-left {
    text-align: right;
    padding-right: 10px;
    
}

.game-info-bar-right table tr td {
    text-align: left;
    padding-left: 10px;
}

.highlight {
    position: relative;
    color: #ff6e64;
    top: 0px;
    vertical-align: bottom;
    font-size: 1.4em;
}

.energyTimer span {
    color: #ff6e64;
    font-size: 1.2em;
}

.higlight-sm {
    font-size: 0.7em;
    text-transform: none;
}

.timer-colon {
    position: relative;
    top: -6px;
}

/* **** USER NAME ************************ */
.userName {
    text-align: center;
    font-size: 0.7em;
}

.userName span {
    text-transform: none;
}

.level-info {
    text-align: center; 
    padding-left: 10px; {
        
    }
}

.level {
    text-align: center;
}

/* ==== IN GAME MESSAGE ================================================================== */
.in-game-message {
    position: absolute;
    display: none;
    text-align: center;
    padding: 0 30px;
    background-color: rgba(0,0,0,.5);
}

.in-game-message h2 {
    font-size: 1em;
    letter-spacing: 10px;
    color: #c39853;
}

/* #endregion /*

/* ======================================================================================= */
/* #region ==== GAME INSTRUCTIONS ======================================================== */
.game-instructions p span {
    color: #ff6e64;
}

/* #endregion /*

/* ======================================================================================= */
/* #region ==== ABOUT THIS PROJECT ======================================================= */

.credits-info {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.credits-info button {
    width: 80%;
    margin-top: 0;
}

.credits-info iframe {
    width: 80%;
    height: 100%;
    margin-top: 30px;
}

/* #endregion /*

/* ======================================================================================= */
/* #region ==== MEDIA QUERYS ============================================================= */


@media screen and (max-width: 768px) {
    
    .text-info-page {
        background-color: #000000;
    }
  
}

/* #endregion /*


