

html, body  {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.body-body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-align: center;
    margin: auto;
    height: 100vh;
    overflow: hidden;
}

.bg-image-1 {
    background-image: url(../images/bg-space-2560x1700.jpg);
}

.bg-image-full {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    min-height: 100vh;
}

.game-info-bar {
    position: absolute;
    z-index: 5;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0,255,255,.1);
}

.game-info-bar div button {
    width: 200px;
}

#canvas-1 {
    margin: 0;
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: transparent;
    border: none;

}

.game-over {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding-top: 300px;
    background-color: rgba(0,0,0,.5);
    text-align: center;
}

.load-page {
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding-top: 300px;
    background-color: #000000;
    text-align: center;
}




